<section class="card register">
  <form name="myform" novalidate ng-submit="register()">
  <div class="textintro">
    <h1>Register</h1>
    <p>To access this site features</p>
    <!--<p>{{message}}</p>-->
  </div>
  <fieldset>
    <!-- For the validation to work you should have ng-model in your tag of html-->
    <input type="firstname" name="firstname" placeholder="First Name" ng-model="user.firstname" required/>
    <p class="error validationerror" ng-show="myform.firstname.$invalid && myform.firstname.$touched"> First Name should be present</p>
    <input type="lastname" name="lastname" placeholder="Last Name" ng-model="user.lastname" required/>
      <p class="error validationerror" ng-show="myform.lastname.$invalid && myform.lastname.$touched"> Last Name should be present</p>

    <input type="email" name="email" placeholder="Email" ng-model="user.email" />
    <p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">Must be a Valid Email</p>
    <input type="password" name="password" placeholder="Password" ng-model="user.password" required/>
    <p class="error validationerror" ng-show="myform.password.$invalid && myform.password.$touched">Password cant be null</p>
  </fieldset>
  <button type="submit" ng-disabled="myform.$invalid" class="btn">Register</button>
  <p>or&nbsp;&nbsp;&nbsp; <a ng-href="#/login" >Login</a></p>
  </form>
</section>